.ol3-turf-area
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAiElEQVRIiWNgoCewicr7jw1T1YKmBVtQMF0sIAcTbQE5eIRagCusqWoBseoH1gJSkh7JFpAKSM4HQxeEhgf/heHAoIB/1GCHhgf/RbHg8vXzfy9fP/83ICDgPzXYA2fBxMn9/7CxkTXjUoPMxmkBLoxsATGYZAuQXUcTC0jFGBbQAlM9Pw0IAAB5nYPLMYssKQAAAABJRU5ErkJggg==');
}
