.olturf-difference {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIie3VsQnAIBCFYWcXZ3hyReDAFXSHTBIsrW0ubUJEUJIm3sFff5VPY357RD4DkNmIfO4CAKQUng6AKLAS4ELKlqNcexWwHGU/6i0FFgA25umhe4xdCxjJcuw/KgUWAFpjN5ILqf//fnkneT8msJ9jSPUAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: cover;
}
