.olturf-envelope {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA60lEQVRIie2TPQ6CQBCFvYWX8Ah7DRJn7rBY0FppIhjmCvQmxlCTcIGNIrZoTyct5bMSDVIYfhKjTvIVO8X7tpg3Gn3FqKmeK9alYhv9oEs11fOHgHU5odm4rw9PaDZWrMsngY2+whsz/4KfEAx9pkMX7TfH8ixFQoaF0QQJGcuzVGsBCRkncLDYLLHaujieUxyyBKuti8VmCSdwQEKmtYCF4e3W8EOBHwquRYFrUVRvb7cGC7c/fxauwpoEfijdBUl2rILrpJdTd0G8j5HneSORiboLnrkH1/efK6h3IDIR4n380oXWgneLdgPkrIVRqRRKGQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-size: cover;
}
