.olturf-intersect {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAg0lEQVRIie3WOwrAIBAEUM8u1pYjdoKdtd4hJwmW1mk2bX7EVRJIQGFaX+HuoBDMo3zK0kVqifIpc+8X0kWa5qUp0kUawEcBa00GQNs8CgCgUtwuA6gCOrRt8e0mXwGcAOCN5aNAT4npEPlA7+MNoAocqwQAWWvOY/mvlhxAF/D2d2QFJ6oxfy6NLhIAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: cover;
}
