.olturf-line-distance {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAcUlEQVRIiWNgGAUjC9hE5f2nqRl0sYAaeGAtoCh8qGTGKKABCA0P/gvDgUEB/6jBDg0P/otiweXr5/9evn7+b0BAwH9qsAfOgomT+/9hYyNrxqUGmY3TAlwY2QJiMMkWILuOJhaQijEsoAWmen4aEAAAa1lIy4I8OMcAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: cover;
}
