.olturf-popup {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: inline-block;
  left: 2.5em;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 2.5em;
  z-index: 9999;
}

.olturf-popup-message {
  background-color: #00a088;
  background-color: rgba(0, 60, 136, 0.5);
  border-radius: 2px;
  padding: 10px;
}

.olturf-popup-button-container {
  display: inline-block;
  padding: 10px;
}
