.ol3-turf-union {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAfklEQVRIie3WwQnAIAwFUGcXZ/jiQQi4gu7QSYpHz72kA1TQtBVaiPCveRfziTGTz6VSLWWWxKVSZ+cbS5m3/RDFUmYFPgqE4CsAliYSzQEAuDUSB4ACY2Bqk58A3YFLgV6JvQr0FkiBIRCJxDUBgEPw12/5r5ZU4Baw+hw5AY7bJM35PKnCAAAAAElFTkSuQmCC');
}
